table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #282020;
  text-align: left;
  padding: 8px;
}

table tr:hover {
  background-color: #cec2c2;;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
